<table>
    <tbody>

    <tr>
        <td class="empty"></td>

        {% for month in month_line %}
            <td class="month_line" colspan="{{ month.1 }}">{{ month.0 }}</td>
        {% endfor %}

    </tr>
    <tr>
        <td class="empty"></td>
        {% for date_day in date_days %}
            <td class="header"
                    {% if forloop.counter == 15 %}
                style="font-weight: 900; color: #a41515; border: #567b8f;"
                    {% endif %}>
                {{ date_day }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td class="empty">место</td>
        {% for week_day in week_days %}
            <td class="header"
                    {% if week_day == 'сб' or week_day == 'вс' %}
                style="background: #daeef3;"
                    {% endif %}
                    {% if forloop.counter == 15 %}
                style="font-weight: 900; color: #a41515; border: #567b8f;"
                    {% endif %}>
                {{ week_day }}</td>
        {% endfor %}
    </tr>

    {% for row in matrix %}
        <tr>
            {% if row|length == 1 %}
                <td class="room_line" colspan="32">{{ row.0 }}</td>
            {% else %}

                <td class="bed_number">{{ row.0 }}</td>

                {% for cell in row.1 %}
                    <td class="inner_td {{ cell.0 }}" id="order_{{ cell.1 }}" title="Заказ: {{ cell.1 }}"></td>
                {% endfor %}
            {% endif %}
        </tr>
    {% endfor %}


    </tbody>
</table>
